.eventify-logo {
    text-align: center;
    animation: subtleFade 0.8s ease-in;
  }
  
  .eventify-logo h1 {
    color: var(--color-text);
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 0.25rem;
    letter-spacing: -2px;
  }
  
  .eventify-logo h1 span {
    color: var(--color-accent);
    display: inline-block;
    animation: subtleSlide 0.8s ease-out;
  }
  
  .eventify-logo p {
    font-size: 1.25rem;
    color: var(--color-muted);
    font-weight: 300;
  }
  
  @media (min-width: 768px) {
    .eventify-logo {
      text-align: left;
    }
  
    .eventify-logo h1 {
      font-size: 5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .eventify-logo h1 {
      font-size: 6rem;
    }
  
    .eventify-logo p {
      font-size: 1.5rem;
    }
  }
  
  